CAREERORBIT_SECURITY_JWT_SECRET=
CAREERORBIT_SECURITY_JWT_ISSUER=

CAREERORBIT_POSTGRES_DB_PASSWORD=
CAREERORBIT_GEMINI_API_KEY=
CAREERORBIT_GIT_TOKEN=

CAREERORBIT_MAIL_HOST=
CAREERORBIT_MAIL_PORT=

CAREERORBIT_MAIL_USERNAME=
CAREERORBIT_MAIL_PASSWORD=

CAREERORBIT_KAFKA_BOOTSTRAP_SERVERS=